export(spv,
      fds.sphere,
      cpv,
      fds.cube,
      hyperarcs.vdg,
      gen.Factr,
      gen.CCD, 
      gen.BBD,
      gen.HSCD,
      gen.PBCD,
      gen.Roquemore,
      gen.USD,
      Borkowski2003)
import(AlgDesign)
importFrom("permute", shuffle, shuffleSet)
