export(spv,
      fds.sphere,
      cpv,
      fds.cube,
      hyperarcs.vdg,
      gen.Factr,
      gen.CCD,
      Borkowski2003,
      gen.BBD,
      gen.HSCD,
      gen.PBCD,
      gen.Roquemore,
      gen.USD,
      spvcontour  
)
import(AlgDesign, permute)

